<% if @session.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@session.errors.count, "error") %> prohibited this article from being saved:</h2>

    <ul>
    <% @session.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>


<h1>Login</h1>

<%= render 'form' %>

<%= link_to 'Back', root_path %>
